.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: lightcyan;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(5px + 1.5vmin);
  color: black;
}

.Main-body {
  background-color: #050e22;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(9px + 2vmin);
  color: rgb(247, 245, 151);
}

#button {
  font-size: calc(8px + 2vmin);
  line-height: 25px;
  margin: 0 0 23px 0;
  padding: 0 6px;
}
